*
{
    margin: 0px;
    padding: 0;
    box-sizing: 0;
}

.nav1
{
    height: 100px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


.nav_logo
{
    height: 30px;
    width: 200px;
    background-image: url(Logo.png);
    background-size: cover;
}

.nav_panel
{
    color: grey;
    font-size: 20px;
    font-weight: 800;
   
    
}

.nav_panel a
{
    color: rgb(45, 133, 206);
}


.nav_panel a
{
    margin-left: 35px;
}

.app
{
    height: 50px;
    width: 180px;
    background-color: rgb(252, 58, 58);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}
.app a
{
    color: aliceblue;
    font-weight: 500;
    margin-left: 7px;
}

.hero
{
    height: 350px;
    background-color: rgba(8, 59, 155, 0.863);
    color: aliceblue;
    margin-top: -10px;
 
}

 .hero p
{
    font-size: 30px;
    margin-left: 200px;
} 

.ppimg
{
    height: 100px;
    width: 550px;
    background-color: rgba(32, 82, 177, 0.863);
     display: flex;
    justify-content: center;
    align-items: center; 
    

}

.ppimg p
{
   margin-left: 10px;
}


.pimg
{
   
    margin-left: -130px;
    margin-top: -30px;
    color: lightseagreen;
}

.order 
{
    margin-left: 130px;
    height: 50px;
    width: 100px;
    /* background-color: antiquewhite; */
    margin-top: 35px;

}

.order a
{
    height: 70px;
    width: 300px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: whitesmoke;
}



.hero_img
{
    height: 356px;
    width: 700px;
    background-size: cover;
    margin-left: 650px;
    margin-top: -195px;
}

.coupan
{
    height: 300px;
    background-color: rgb(245, 231, 231);
}

.offers
{
   height: 100px;
   width: 250px;
   background-color: rgb(245, 231, 231);
   margin-left: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 30px;
   color: rgb(12, 99, 156);
   font-weight: bolder;
   
}

.offer_img
{
    height: 250px;
    background-color: rgb(245, 231, 231);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.offer_img1
{
    height: 200px;
    width: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -20px;
    border-radius: 4px;
    background-color: rgb(248, 241, 241);
}

.explore
{
    height: 100px;
    background-color: rgb(248, 241, 241);
    
    
}
.explore p
{
    height: 100px;
    width: 200px;
   background-color: rgb(248, 241, 241);
    margin-top: 5px;
    color: rgb(12, 99, 156);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px; 
}


.menu
{
    height: 300px;
    background-color: rgb(248, 241, 241);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
    
}

a
{
   font-size:20px ;
   font-weight: bolder;
   color: rgb(32, 34,37);
   margin-left: -20px;
}


.menu_img i
{
    font-size: 70px;
    color: rgb(32, 34, 37);
    
   
    
    
}

.menu_img p
{
    height: 200px;
    width: 300px;
    font-size: 20px;
    text-align: center;
    margin-left: -100px;
    margin-top: 30px;
   
    
}


.last
{
    height: 600px;
    background-color: rgb(248, 241, 241);
}

.last h2
{
    margin-left: 30px;
    color: rgb(12, 99, 156);
    font-size: 35px;
    font-weight: bolder;

}

.last p
{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 18px;
    color: grey;

}

.last2
{
    margin-top: 30px;
}

.last3
{
    margin-top: 30px;
}

.f
{
    height: 350px;
    background-color: rgb(5, 39, 78);
    display: flex;
    justify-content: space-evenly;
    border: 1px dotted grey;

 
}

.height
{
    height: 50px;
    background-color: rgb(5, 39, 78);
    width: 200px;
    display: flex;
    align-items: last baseline;
    font-size: 20px;
    font-weight: bold;
}




.f p
{
    
    color:grey ;
}

.f a
{
    display: block;
   color: rgb(178, 193, 206);
    margin-top: 20px;
    font-size: 16px;
    margin-left: 3px;
}

.rights
{

    height: 70px;
    background-color: rgb(4, 34, 68);
    color: rgb(178, 193, 206);
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.nav_panel i
{
    display: none;
}

  @media only screen and (max-width:600px)
{

    .nav_logo {
        height: 30px;
        width: 200px;
        position: relative;
        left: 36px;
        background-image: url(Logo.png);
        background-size: cover;
    }

    .nav_panel{
        color: grey;
        font-size: 20px;
        font-weight: 800;
        display: grid;
        position: relative;
        top: 150px;
        left: -443px;
        transition: right 0.5s;
        background-color: antiquewhite;
        transition: left 0.5s;
    }

   

    .nav1 .nav_panel a
    {
        display: block;
        margin: 30;
    }

   
    
    


    .nav_panel i {
        display: block;
        position: relative;
        left: 27px;
        top: -20px;
        cursor: pointer;
    }

    .fa-solid, .fas {
        font-weight: 900;
        position: relative;
        top: 59px;
        left: -164px;
        font-size: 25px;
        color: azure;
    }


    .app {
        height: 50px;
        width: 180px;
        background-color: rgb(252, 58, 58);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 5px;
        position: relative;
        left: -100px;
    }

    .ppimg p {
        margin-left: -28px;
    }

    .hero p {
        font-size: 30px;
        margin-left: 173px;
    }

    .order {
        margin-left: 155px;
        height: 50px;
        width: 100px;
         background-color: antiquewhite; 
        margin-top: 35px;
    }

    .order a {
        height: 57px;
        width: 258px;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: green;
        color: whitesmoke;
    }

    .offers {
        margin-left: 17px;
        background-color: rgb(255,255,255);
    }

    .offer_img {
        height: 250px;
        background-color: rgb(255, 255, 255);
        display: grid;
        justify-content: center;
        margin-top: 20px;
    }

    .offer_img1
    {
        margin-top: 28px;
        background-color: rgb(255,255,255);
    }

    .menu {
        height: 300px;
        background-color: rgb(248, 241, 241);
        display: inline-grid;
        justify-content: space-evenly;
        margin-top: 526px;
        margin-left: 271px;
        align-items: center;
    }

    
    .menu_img p
    {
        height: 22px;
        width: 301px;
    }

    .last h2 {
        margin-left: 30px;
        color: rgb(12, 99, 156);
        font-size: 29px;
        font-weight: bolder;
        margin-top: 336px;
    }

    .ppimg p
    {
        
            position: relative;
            left: -91px;
        
    }

    .hero_img {
        display: none;
    }

    .explore {
        height: 100px;
        background-color: rgb(255, 255, 255);
    }
    .explore p {
        position: relative;
        top: 534px;
        background-color: rgb(255 255 255);
    }

    .menu_img
    {
        background-color: rgb(255 255 255);
    }
    .last
    {
        height: 672px;
    }

    .last p {
        width: 452px;
        margin-left: 33px;
        margin-top: 17px;
        font-size: 13px;
        color: grey;
    }

    .last2 {
        position: relative;
        top: -305px;
    }

    .last3 {
        position: relative;
        top: -613px;
    }

    .last h2
    {
        font-size: 22px;
    }

    .coupan {
        height: 300px;
        background-color: rgb(255, 251, 251);
    }

    .rights p
    {
        
        
            position: relative;
            right: 33px;
        
    }

    .f {
        height: 1260px;
        background-color: rgb(5, 39, 78);
        display: grid;
        border: 1px dotted grey;
    }
}  

@media only screen and (max-width:450px)
{
    .nav1 {
        height: 100px;
        width: 442px;
        background-color: whitesmoke;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
    }

    .hero {
        height: 350px;
        width: 442px;
        background-color: rgba(8, 59, 155, 0.863);
        color: aliceblue;
        margin-top: -10px;
    }

    .fa-solid, .fas {
        font-weight: 900;
        position: relative;
        top: 78px;
        left: -146px;
        font-size: 25px;
        color: azure;
    }

    .nav_logo {
        height: 24px;
        width: 189px;
        position: relative;
        left: 5px;
        background-image: url(Logo.png);
        background-size: cover;
    }

    .ppimg {
       display: none;
    }
    .ppimg p {
        display: none;
    }
    .hero p {
        font-size: 23px;
        margin-left: 168px;
        position: relative;
        color: aliceblue;
        top: 147px;
    }

    .order {
        margin-left: 151px;
        height: 0;
        width: 100px;
        background-color: antiquewhite;
        margin-top: 81px;
    }

    .app {
        height: 24px;
        width: 124px;
        background-color: rgb(252, 58, 58);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 5px;
        position: relative;
        top: 10px;
        left: -72px;
    }

    .app a {
        color: aliceblue;
        font-weight: 500;
        font-size: 14px;
        margin-left: 3px;
    }

    .order a {
        height: 46px;
        width: 187px;
        font-size: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: green;
        position: relative;
        top: 90px;
        left: -11px;
        color: whitesmoke;
    }
    .offer_img1 {
        height: 160px;
        width: 436px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .coupan {
        height: 300px;
        background-color: rgb(255, 255, 255);
    }

    .menu {
        height: 300px;
        background-color: rgb(248, 241, 241);
        display: inline-grid;
        justify-content: space-evenly;
        margin-top: 526px;
        margin-left: 180px;
        align-items: center;
    }

    .menu_img p {
        height: 27px;
        width: 301px;
        font-size: 13px;
        text-align: center;
        margin-left: -100px;
        margin-top: 24px;
    }


    .last p {
        width: 360px;
        margin-left: 7px;
        margin-top: 17px;
        font-size: 13px;
        color: grey;
    }
    .last {
        height: 780px;
        width: 442px;
    }


    .last h2 {
        margin-left: 20px;
        color: rgb(12, 99, 156);
        font-size: 29px;
        font-weight: bolder;
        margin-top: 336px;
        font-size: 18px;
    }

    .rights
    {
        font-size: 13px;
    }

    .rights p {
        position: relative;
        right: 27px;
    }

    .f
    {
        height: 1260px;
    width: 442px;
    background-color: rgb(5, 39, 78);
    display: grid;
    border: 1px dotted grey;
    }
}
